<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exaple.splitwise_clone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splitwise_Clone">



        <activity
            android:name=".menubartrail.MenuMainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Splitwise_Clone.NoActionBar" />
        <activity android:name=".menubartrail.pravinmainactivity.MainActivity" />
        <activity android:name=".sanjoy.AddExpenseActivity"/>
        <activity android:name=".sanjoy.HomeActivity"></activity>
        <activity android:name=".sanjoy.SettingActivity" />

        <activity android:name=".pravinTrialAndError.FragmentMainActivity">


        <activity android:name=".harsh.Sign_up_Screen_Activity"></activity>
        <activity android:name=".harsh.Login_Screen_Activity" />
        <activity android:name=".harsh.SplitWiseScreen" />
        <activity android:name=".harsh.FirstScreen" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>